
.App {
  text-align: center;
  /* display: grid; */
  background-color: whitesmoke;
/* font-family: 'Baloo Chettan 2', cursive;
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Bellota Text', cursive; */
/* font-family: 'Permanent Marker', cursive */
/* font-family: 'Chonburi', cursive; */
font-family: 'Quando', serif;
}

/* #282c34 */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.nav-button {
    background-color: #7395ae;
    color: maroon;
    font-weight: none;
    text-align: center;
    border: 10px solid #7395ae;
    border-radius: 10px;
    text-decoration: none;
}


.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    /* grid-template-columns: ; */
    grid-gap: 10px; 
    width: 80vh;
    height: 0.5vh;
    margin: auto;
}

.body-sections{
  
   display: flex;
   /* display: grid; */
  justify-content: center;
    align-items: center;
   font-family: "Noto Sans JP", sans-serif;
   justify-self: center;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {

  color: black;
  font-weight: bold;
}

h1 {
color: red;

}

h3 {
  font-weight: bold;
  color: black;
}

p { 
text-align: center;
   color: darkslategrey;
   text-decoration: none;

}

headerbanner {


}
