
.App {
  text-align: center;
  /* display: grid; */

font-family: 'Quando', serif;
 background: url("./images/marble-surface-wall-white-1323712.jpg");
    background-size: cover;
    background-position:top;
    background: cover;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
   text-align: center;

}

.nav-button {
    background-color: #7395ae;
    color: maroon;
    font-weight: none;
    text-align: center;
    border: 10px solid #7395ae;
    border-radius: 10px;
    text-decoration: none;
        /* display: flex; */
    flex-wrap: wrap;
}


.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-columns: 1fr;
    grid-gap: 10px; 
    width: 45vh;
    height: 0.5vh;
    margin: auto;
      text-align: center;
    flex-wrap: wrap;
}

.body-sections{
  
   display: flex;
   /* display: grid; */
  justify-content: center;
    align-items: center;
   font-family: "Noto Sans JP", sans-serif;
   justify-self: center;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {

  color: black;
  font-weight: bold;
}

h1 {
color: red;

}

h3 {
  font-weight: bold;
  color: black;
}

p { 
text-align: center;
   color:black;
   text-decoration: none;

}

headerbanner {


}

.HeaderBackground {
   background: url("./images/marble-surface-wall-white-1323712.jpg");
    background-size:cover;
    background-position:top;
    background: cover;
      text-align: center;
}

.topicsImage {
   width: 22rem;
}